<h1>Edit Promo</h1>
<form method="POST">
    <label>Nama Promo:</label>
    <input type="text" name="nama_promo" value="{{ promo.nama_promo }}" required><br>

    <label>Deskripsi:</label>
    <textarea name="deskripsi" required>{{ promo.deskripsi }}</textarea><br>

    <label>Mulai:</label>
    <input type="date" name="mulai" value="{{ promo.mulai }}" required><br>

    <label>Sampai:</label>
    <input type="date" name="sampai" value="{{ promo.sampai }}" required><br>

    <button type="submit">Update</button>
</form>
<a href="{{ url_for('admin_promo') }}">← Kembali</a>
